Repository Visual-Behavior/aloception-oss, pull requests merged in 2021-10, with the labels that each got.

#90 sample download progress bar and skip user prompt
  alodataset/base_dataset.py
  requirements.txt
Labels: enhancement, alodataset

#91 fix bug in load_training
  alonet/common/pl_helpers.py
Labels: alonet, quick-fix

#92 88 load weights finetune models
  alonet/deformable_detr/deformable_detr_r50_finetune.py
  alonet/detr/detr_r50_finetune.py
Labels: enhancement, alonet

#95 new colormaps and clipping option for disp view
  aloscene/disparity.py
Labels: aloscene

#99 fix bug load png image masks
  aloscene/io/mask.py
Labels: bug, aloscene

#111 Augmented tensor: labels renamed by Child + default args when adding one node
  aloscene/bounding_boxes_2d.py
  aloscene/bounding_boxes_3d.py
  aloscene/disparity.py
  aloscene/flow.py
  aloscene/frame.py
  aloscene/labels.py
  aloscene/mask.py
  aloscene/oriented_boxes_2d.py
  aloscene/points_2d.py
  aloscene/tensors/augmented_tensor.py
  aloscene/tensors/spatial_augmented_tensor.py
Labels: aloscene

#115 113 unknown weights
  docsource/source/alonet/deformable_models.rst
  docsource/source/alonet/detr_models.rst
  docsource/source/tutorials/finetuning_deformable_detr.ipynb
  docsource/source/tutorials/finetuning_detr.ipynb
Labels: documentation, alonet
