Repository Visual-Behavior/aloception-oss, pull requests merged in 2021-11, with the labels that each got.

#127 Fix apply on child
  alonet/detr/train.py
  alonet/detr_panoptic/utils.py
Labels: bug, alonet, quick-fix

#124 Fix boxes display
  aloscene/bounding_boxes_2d.py
Labels: aloscene

#122 79 coco detection splitmixin
  README.md
  alodataset/__init__.py
  alodataset/coco_base_dataset.py
  alodataset/coco_detection_dataset.py
  alonet/detr/data_modules/coco_detection2detr.py
  alonet/detr/data_modules/data2detr.py
  aloscene/mask.py
  aloscene/renderer/renderer.py
  docs/_sources/alodataset/coco_detection_dataset.rst.txt
  docs/_sources/alonet/alonet.metrics.rst.txt
  docs/_sources/alonet/detr_connectors.rst.txt
  docs/_sources/getting_started/alodataset.ipynb.txt
  docs/_sources/getting_started/alonet.ipynb.txt
  docs/_sources/getting_started/aloscene.ipynb.txt
  docs/_sources/getting_started/augmented_tensor.ipynb.txt
  docs/_sources/tutorials/data_setup.rst.txt
  docs/alodataset/coco_detection_dataset.html
  docs/alonet/alonet.metrics.html
  docs/alonet/detr_connectors.html
  docs/genindex.html
  docs/getting_started/alodataset.html
  docs/getting_started/alodataset.ipynb
  docs/getting_started/alonet.html
  docs/getting_started/alonet.ipynb
  docs/getting_started/aloscene.html
  docs/getting_started/aloscene.ipynb
  docs/getting_started/augmented_tensor.html
  docs/getting_started/augmented_tensor.ipynb
  docs/searchindex.js
  docs/tutorials/data_setup.html
  docsource/source/alodataset/coco_detection_dataset.rst
  docsource/source/alonet/alonet.metrics.rst
  docsource/source/alonet/detr_connectors.rst
  docsource/source/getting_started/alodataset.ipynb
  docsource/source/getting_started/alonet.ipynb
  docsource/source/getting_started/aloscene.ipynb
  docsource/source/getting_started/augmented_tensor.ipynb
  docsource/source/tutorials/data_setup.rst
  tutorials/5.1-detrmod_coco_.py
Labels: enhancement, alodataset

#128 Raft refacto
  alonet/common/abstract_classes.py
  alonet/raft/criterion.py
  alonet/raft/raft.py
  alonet/raft/train.py
  alonet/raft/update.py
Labels: alonet

#132 fix: resize camera calib
  aloscene/camera_calib.py
Labels: aloscene

#133 update threshold
  alonet/detr_panoptic/eval_on_coco.py
Labels: enhancement, alonet, quick-fix

#134 Trt export profiling
  alonet/torch2trt/TRTExecutor.py
  alonet/torch2trt/base_exporter.py
  alonet/torch2trt/onnx_hack.py
Labels: alonet
