Repository Visual-Behavior/aloception-oss, pull requests merged in 2021-09, with the labels that each got.

#5 Requirements vbfolder update
  alonet/common/weights.py
  requirements.txt
Labels: bug

#6 update README for docs
  docsource/README.md
Labels: documentation

#40 Prevent a known issue with camera parameters
  aloscene/tensors/spatial_augmented_tensor.py
  unittest/test_frame.py
Labels: bug, aloscene

#37 use randomsampler in train_dataloader
  alonet/raft/data_modules/chairs2raft.py
  alonet/raft/data_modules/chairssdhom2raft.py
  alonet/raft/data_modules/sintel2raft.py
  alonet/raft/data_modules/things2raft.py
Labels: bug

#36 3 cocodetection mask implement
  alodataset/coco_detection_dataset.py
  aloscene/__init__.py
  aloscene/frame.py
  aloscene/mask.py
Labels: enhancement, aloscene

#41 1 update samples
  alodataset/base_dataset.py
  alodataset/chairssdhom_dataset.py
  alodataset/crowd_human_dataset.py
  alodataset/flying_chairs2_dataset.py
  alodataset/flyingthings3D_subset_dataset.py
  alodataset/merge_dataset.py
  alodataset/mot17.py
  alodataset/sintel_base_dataset.py
  alodataset/sintel_disparity_dataset.py
  alodataset/sintel_flow_dataset.py
  alodataset/sintel_multi_dataset.py
  alodataset/waymo_dataset.py
  unittest/test_train.py
Labels: enhancement, alodataset

#58 50 train with samples
  alodataset/base_dataset.py
  alodataset/coco_detection_dataset.py
  alonet/deformable_detr/train_on_coco.py
  alonet/detr/coco_data_modules.py
  alonet/detr/train_on_coco.py
  alonet/raft/data_modules/chairs2raft.py
  alonet/raft/data_modules/data2raft.py
  alonet/raft/train_on_chairs.py
  unittest/test_train.py
Labels: bug, alonet

#34 Prevent crop outside of the spatial size
  .gitignore
  aloscene/tensors/augmented_tensor.py
Labels: bug

#33 tuto getting started: modif typo + better frame slicing example
  docsource/source/getting_started/aloscene.ipynb
  docsource/source/getting_started/getting_started.rst
Labels: documentation, aloscene

#61 alotransform: probabilistic same_on_*
  alodataset/transforms.py
Labels: alodataset

#62 Batch list improvment
  alodataset/coco_detection_dataset.py
  alodataset/sintel_disparity_dataset.py
  alodataset/sintel_flow_dataset.py
  aloscene/frame.py
  aloscene/mask.py
  aloscene/tensors/augmented_tensor.py
  aloscene/tensors/spatial_augmented_tensor.py
Labels: aloscene

#64 Frame with labels
  aloscene/frame.py
  unittest/test_frame.py
Labels: aloscene

#69 Detr def arch
  alonet/common/pl_helpers.py
  alonet/common/weights.py
  alonet/deformable_detr/deformable_detr.py
  alonet/deformable_detr/deformable_transformer.py
  alonet/deformable_detr/train.py
  alonet/detr/detr.py
  alonet/detr/transformer.py
  aloscene/bounding_boxes_2d.py
Labels: alonet, aloscene

#81 sample download progress bar and skip user prompt
  alodataset/base_dataset.py
  requirements.txt
Labels: enhancement, alodataset

#80 update load weight and load train functions
  alonet/common/pl_helpers.py
  alonet/common/weights.py
  alonet/deformable_detr/deformable_detr.py
  alonet/detr/detr.py
  alonet/raft/raft.py
Labels: enhancement, alonet

#84 remove the need to instantiate boxes
  alonet/common/logger.py
Labels: alonet

#77 Coco panoptic dataset
  alodataset/__init__.py
  alodataset/coco_detection_dataset.py
  alodataset/coco_panoptic_dataset.py
  alodataset/utils/panoptic_utils.py
  alonet/detr/__init__.py
  alonet/detr/coco_data_modules.py
  alonet/detr/data_modules/__init__.py
  alonet/detr/data_modules/coco_detection2detr.py
  alonet/detr/data_modules/coco_panoptic2detr.py
  alonet/detr/data_modules/data2detr.py
Labels: enhancement, alodataset

#87 Fixe weights is None for detr & Deformable
  alonet/deformable_detr/deformable_detr.py
  alonet/detr/detr.py
Labels: alonet

#72 Points2D
  alonet/common/logger.py
  alonet/deformable_detr/deformable_detr_r50_finetune.py
  aloscene/__init__.py
  aloscene/frame.py
  aloscene/points_2d.py
  aloscene/renderer/renderer.py
  docs/_images/points2d_header.png
  docs/_sources/aloscene/aloscene.rst.txt
  docs/_sources/aloscene/points2d.rst.txt
  docs/alodataset/mot17.html
  docs/alodataset/transform.html
  docs/alonet/deformable_models.html
  docs/aloscene/aloscene.html
  docs/aloscene/augmented_tensor.html
  docs/aloscene/bounding_boxes_2d.html
  docs/aloscene/bounding_boxes_3d.html
  docs/aloscene/camera_calib.html
  docs/aloscene/disparity.html
  docs/aloscene/flow.html
  docs/aloscene/frame.html
  docs/aloscene/labels.html
  docs/aloscene/mask.html
  docs/aloscene/notebooks/bounding_boxes_3d.html
  docs/aloscene/oriented_boxes_2d.html
  docs/aloscene/points2d.html
  docs/aloscene/spatial_augmented_tensor.html
  docs/genindex.html
  docs/getting_started/aloscene.ipynb
  docs/index.html
  docs/objects.inv
  docs/py-modindex.html
  docs/searchindex.js
  docs/tutorials/finetuning_deformable_detr.ipynb
  docsource/source/aloscene/aloscene.rst
  docsource/source/aloscene/points2d.rst
  docsource/source/images/points2d_header.png
Labels: aloscene
