Repository Visual-Behavior/aloception-oss, pull requests merged in 2021-12, with the labels that each got.

#143 Compatibility with embed systems
  alonet/__init__.py
  alonet/torch2trt/base_exporter.py
  aloscene/__init__.py
  aloscene/bounding_boxes_2d.py
  aloscene/bounding_boxes_3d.py
  aloscene/camera_calib.py
  aloscene/oriented_boxes_2d.py
  aloscene/points_2d.py
  aloscene/points_3d.py
  aloscene/renderer/bbox3d.py
Labels: bug, aloscene

#141 fix append occlusion and title view
  aloscene/depth.py
Labels: bug, aloscene

#139 fix labels get_view error when frame is None
  aloscene/labels.py
Labels: aloscene

#140 fix log_image for tensorboard logger
  alonet/common/logger.py
Labels: alonet
