Repository Visual-Behavior/aloception-oss, pull requests merged in 2022-11, with the labels that each got.

#250 Append Labels on BoundingBoxes3D
  aloscene/bounding_boxes_3d.py
Labels: enhancement, good first issue, aloscene, quick-fix, alobugdays

#255 Alobugsdays - Typo in BoundingBoxes2D
  aloscene/bounding_boxes_2d.py
Labels: documentation, good first issue, invalid, aloscene, quick-fix, alobugdays

#270 alobugdays/67-resnet-mean-std-norm-at-instantiation
  aloscene/frame.py
Labels: bug, aloscene, alobugdays

#268 Prevent None accumulation
  aloscene/tensors/augmented_tensor.py
Labels: alobugdays

#273 change vb_fodler to vb_folder
  alonet/common/pl_helpers.py
  alonet/common/weights.py
  alonet/deformable_detr/trt_exporter.py
  alonet/deformable_detr_panoptic/trt_exporter.py
  alonet/detr/trt_exporter.py
  alonet/detr_panoptic/trt_exporter.py
Labels: alonet, hard, alobugdays

#276 alobugdays/22-kwargs-padding_mode-&-more
  aloscene/tensors/spatial_augmented_tensor.py
Labels: documentation, enhancement, aloscene, alobugdays

#264 Support pytorch1.13
  aloscene/tensors/augmented_tensor.py
  unittest/test_boxes.py
  unittest/test_boxes_3d.py
Labels: aloscene, alobugdays

#282 221 named labels on boundingboxes2d dont render
  aloscene/bounding_boxes_2d.py
Labels: enhancement, aloscene, alobugdays

#288 Kitti: Documentation
  alodataset/kitti_object.py
  alodataset/kitti_odometry.py
  alodataset/kitti_road.py
  alodataset/kitti_semantic.py
  alodataset/kitti_stereo_flow2012.py
  alodataset/kitti_stereo_flow_sflow2015.py
  alodataset/kitti_tracking.py
Labels: documentation, invalid, alodataset, alobugdays

#297 Alobugsdays - Debug print
  aloscene/bounding_boxes_2d.py
Labels: good first issue, invalid, alodataset, quick-fix, alobugdays

#292 alobugdays/23-pad-accepts-multiple-argument
  aloscene/tensors/augmented_tensor.py
  unittest/test_frame.py
Labels: enhancement, aloscene, alobugdays

#289 alobugdays/fix-pad-kwargs
  aloscene/frame.py
  aloscene/tensors/spatial_augmented_tensor.py
Labels: bug, aloscene, alobugdays

#287 Alobugdays - add dynamic axes onnx option
  alonet/torch2trt/base_exporter.py
Labels: enhancement, alonet, alobugdays
