Repository Visual-Behavior/aloception-oss, pull requests merged in 2022-07, with the labels that each got.

#190 add execution context failed creation exception
  alonet/torch2trt/TRTExecutor.py
Labels: alonet

#191 fix: AugmentedTensor clone method
  aloscene/tensors/augmented_tensor.py
Labels: bug, aloscene

#192 bugfix: close plt figure
  aloscene/utils/depth_utils.py
Labels: bug, aloscene

#195 new: depth metrics
  alonet/metrics/__init__.py
  alonet/metrics/compute_pq.py
  alonet/metrics/depth_metrics.py
  alonet/metrics/utils.py
Labels: enhancement, alonet

#194 fix masking dimension mismatch
  aloscene/tensors/augmented_tensor.py
Labels: aloscene, quick-fix

#200 ignore same_on_sequence when no time dimension
  alodataset/transforms.py
Labels: bug, alodataset

#196 Lvis Dataset + Coco Update + minor fix
  alodataset/coco_detection_dataset.py
  alodataset/coco_panoptic_dataset.py
  alodataset/lvis_dataset.py
  alodataset/utils/panoptic_utils.py
  alonet/detr_panoptic/criterion.py
  alonet/detr_panoptic/detr_panoptic.py
  alonet/detr_panoptic/train.py
  aloscene/mask.py
  requirements.txt
Labels: alodataset

#201 allow user to complety specify the grid view
  aloscene/__init__.py
  aloscene/renderer/renderer.py
Labels: aloscene

#202 allow for non integer principal point coordinates
  aloscene/camera_calib.py
Labels: aloscene

#204 Scene flow
  aloscene/io/flow.py
  aloscene/scene_flow.py
Labels: enhancement, good first issue, aloscene
