Repository Visual-Behavior/aloception-oss, pull requests merged in 2022-05, with the labels that each got.

#178 better colorbar position
  aloscene/utils/depth_utils.py
Labels: aloscene

#177 Check if depth is planar before projecting to 3d points
  aloscene/depth.py
Labels: aloscene, quick-fix

#175 Merge dataset weights
  alodataset/merge_dataset.py
Labels: alodataset

#179 update arg name
  aloscene/depth.py
Labels: aloscene, quick-fix

#176 add profiling verbosity
  alonet/torch2trt/TRTEngineBuilder.py
  alonet/torch2trt/base_exporter.py
  alonet/torch2trt/calibrator.py
  alonet/torch2trt/quantization.py
Labels: alonet, quick-fix

#184 random downscale and crop transform
  alodataset/transforms.py
Labels: alodataset

#182 remove tracing assertion
  alonet/torch2trt/base_exporter.py
Labels: alonet, quick-fix

#186 add cuda shared memory for reccurent engines
  alonet/torch2trt/TRTExecutor.py
  alonet/torch2trt/utils.py
Labels: enhancement, alonet
