Repository Visual-Behavior/aloception-oss, pull requests merged in 2022-09, with the labels that each got.

#218 Augmented tensors repr
  aloscene/tensors/augmented_tensor.py
Labels: bug, aloscene, quick-fix

#216 fix: replace max calibration batches default value with None
  alonet/torch2trt/base_exporter.py
  alonet/torch2trt/calibrator.py
Labels: alonet, quick-fix

#223 Links to documentation
  README.md
  alonet/deformable_detr/README.md
  alonet/deformable_detr_panoptic/README.md
  alonet/detr/README.md
  alonet/detr_panoptic/README.md
Labels: bug, documentation, invalid, quick-fix

#220 setup file
  .gitignore
  README.md
  aloscene/utils/__init__.py
  setup.py
Labels: enhancement, good first issue

#213 Kitti datasets
  alodataset/kitti_depth.py
  alodataset/kitti_object.py
  alodataset/kitti_odometry.py
  alodataset/kitti_road.py
  alodataset/kitti_semantic.py
  alodataset/kitti_split_dataset.py
  alodataset/kitti_stereo_flow2012.py
  alodataset/kitti_stereo_flow_sflow2015.py
  alodataset/kitti_tracking.py
  alodataset/utils/kitti.py
  aloscene/depth.py
  aloscene/mask.py
  aloscene/scene_flow.py
  aloscene/tensors/spatial_augmented_tensor.py
Labels: enhancement, alodataset, hard
