Repository Visual-Behavior/aloception-oss, pull requests merged in 2022-01, with the labels that each got.

#145 Panoptic2trt
  alonet/__init__.py
  alonet/deformable_detr/deformable_detr.py
  alonet/deformable_detr/trt_exporter.py
  alonet/detr/detr.py
  alonet/detr/transformer.py
  alonet/detr/trt_exporter.py
  alonet/detr_panoptic/detr_panoptic.py
  alonet/detr_panoptic/misc.py
  alonet/detr_panoptic/nn/FPNstyle.py
  alonet/detr_panoptic/nn/MHAttention.py
  alonet/detr_panoptic/trt_exporter.py
  alonet/torch2trt/TRTEngineBuilder.py
  alonet/torch2trt/TRTExecutor.py
  alonet/torch2trt/base_exporter.py
  alonet/torch2trt/onnx_hack.py
  alonet/torch2trt/utils.py
  alonet/transformers/position_encoding.py
Labels: enhancement, alonet

#144 add_rotation
  alodataset/transforms.py
  aloscene/points_2d.py
  aloscene/tensors/augmented_tensor.py
  aloscene/tensors/spatial_augmented_tensor.py
Labels: alodataset, aloscene

#147 Panoptic2trt fix
  alonet/deformable_detr/deformable_detr.py
  alonet/detr_panoptic/detr_panoptic.py
Labels: alonet, quick-fix

#146 Fix CameraIntrinsic last diag element
  aloscene/camera_calib.py
Labels: bug

#149 bugfix: make depth label mergeable
  aloscene/frame.py
Labels: bug, aloscene
